/* Landing Page CSS */
:root {
  font-size: 1rem;
  --pink: #BE95C4;
  --dark-purple: #5E548E;
  --lavender: #9F86C0;
  --ebony: #4a5043;
  --gunmetal: #2a2d34;
}

body {
  background-color: var(--dark-purple);
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

header {
  text-align: center;
  margin: 2em 0;
}

header code {
  color: var(--ebony);
}

.landing-card {
  background-color: var(--pink);
  border-radius: 10px;
}

.btn-primary {
  background-color: var(--lavender);
  border-color: var(--lavender);
  margin: 0 auto;
}
.btn-primary:first-of-type {
  margin-right: 1em;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--gunmetal);
  border-color: var(--gunmetal);
  color: var(--pink);
}

.checkbox {
  margin: 0.5em 0;
  margin-left: -4.25em;
}